{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <!-- Links -->
    <link rel="stylesheet" href="{% static 'loginstyle.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

</head>

<body>

    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form action="{% url 'loginPage' %}" method="POST">
        <h3>Login Here</h3>
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" placeholder="Enter Username" id="username" name="username" required>

        <label for="password">Password</label>
        <input type="password" placeholder="Enter Password" id="password" name="pass" required>

        <input type="submit" value="Log In" class="button">
        <!-- <button type="submit">Log In</button> -->
        <br>
        <a href="{% url 'homePage' %}">Create a account</a> <br>
        <br>
        <a href="{% url 'homePage2' %}"> Home Page</a>
    </form>

</body>

</html>